/*Colors*/

$primary-color: #2cbbc1;
$secondary-color: #7F8C8D;
$active-color: #ce741b;
$ascent-1-color: #ff9934;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #231507;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;