.footer-wrap{
	position: absolute;
	bottom: 0px;
  }

  .footer {
	background-color: $ascent-4-color !important;
	padding-bottom: 20px !important;

	.social.list {

	  .button {
		margin-left:10px;

		i{
		  font-size: 2em;
		  line-height: 0.95em;
		}
	  }
	}
  }

  .subFooter {
	background-color: $ascent-5-color;

	.menu_subfooter {
	  margin-bottom: 1em;

	  a.submenu {
		padding: .42857143em 0.84285714em;
		color: white;

		&:hover {
		  text-decoration: underline;
		}
	  }
	}
  }

  .jetBrand{
	height: 35px;
	text-align: center;
	padding: 0px !important;

	img{
	  height: 25px;
	  margin:5px;
	}
  }
#seloEbit{
	display: inline-table !important;
	float: right;
	margin-left: 10px;
	}
#jetLogo {
    height: 28px;

    .cinza {
        fill: rgba(255, 255, 255, 1);
    }

    .vermelho {
        fill: rgba(228, 25, 32, 1);
    }
}
  

.ui.inverted.segment.footer-01 {	
  clear: both;
  overflow: hidden;
  display: block;
  padding: 30px 0;
  background: $primary-color;
  border-bottom: 10px solid $ascent-1-color;
}
.ui.inverted.segment.subFooter,
.ui.inverted.segment.jetBrand {
  background: $ascent-4-color;
}
.newsletter {
  position: relative;
  display: block;
  float: left;
  width: 70%;
  padding: 0 0 0 150px;
  box-sizing: border-box;
}
.newsletter:before {
  content: "\f003";
  font-family: Icons;
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 120px;
}
.social-media {
  position: relative;
  display: block;
  float: right;
  width: 30%;

	a.ui {
	  padding: 0 !important;
	  background: transparent !important;
	  font-size: 40px;
	  color: #fff;
	  @anima;
	}
		a.ui:hover {
	  color: #036165 !important;
	  opacity: 0.7;
	  background: transparent !important;
	}

	a.ui > i.icon {
	  width: inherit !important;
	  height: inherit !important;
	  margin: 0 !important;
	}

}