.topbar {
  background-color: $secondary-color;
  color: #d8e5e6 !important;
  height: 30px;
  margin-bottom: 0px;

  a {
    color: #d8e5e6 !important;
  }

  .ui.horizontal.list {
    padding-top: 5px;

    span.text,
    .menu {
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }

  .menu {
    background: #1b1c1d !important;

    .item {

      &:hover {
        background: #3f4041 !important;
      }
    }
  }

  .ui.pointing.dropdown {

    > .menu::after {
      background: #1b1c1d;
    }
  }

  .ui.grid > .row {
    padding: 0.2em 0em;
  }

  socialbar {

    .fa {
      margin-right: 5px;
    }

    .facebook:hover,
    .twitter:hover,
    .instagram:hover,
    .youtube.play:hover,
    .whatsapp:hover,
    .vimeo:hover,
    .wordpress:hover,
    .pinterest:hover,
    .google.plus:hover {
      color: #036165;
    }
  }
}